$bgc: #f4fbfc;
$bgc_accent: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(224, 247, 252, 0.583333) 25.87%, #caf2fa 100%);
$header_color: #223867;
$main_color: #028ca6;
$main_border: #068ca6;
